.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.expand-button {
  border: none;
  color: var(--blue);
  background: #fff;
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.arrow-container {
  display: flex;
  justify-content: center;
}

.arrow {
  height: 20px;
  margin: auto 2px;
}

/* @media screen and (min-width: 760px) {
  .expand-button {
    font-size: 16px;
  }
} */