h3 {
  margin: 0 auto;
  width: fit-content;
  text-align: center;
  padding: 0 10px;
  font-weight: 1000;
  font-size: 14px;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  height: 105px;
  width: 48%;
  color: var(--blue);
  border: 1px solid;
  border-color: #e3e5e8;
  border-radius: 16px;
  /* min-width: 133px; */
  /* max-width: 170px; */
  margin: 0 0px 24px 0;
}

.tile:hover {
  border-color: var(--blue);
}

.tile-icon-wrapper {
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.tile-icon {
  width: 40px;
  height: 35px;
  margin: 0 auto;
}

@media screen and (min-width: 601px) {
  .tile {
    width: 22%;
  }
}

@media screen and (min-width: 961px) {
  .tile {
    width: 15%;
  }
}


@media only screen and (min-width: 760px) {
  h3 {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .tile {
    margin: 0 0 24px 0;
  }
}